<h1>Mes tâches</h1>

<form action="/action_page.php">
  <ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task.id) %></li>
  <% end %>
  </ul>
</form>
<br>
<br>
<%= link_to "Add a task", tasks_new_path %>
